@{
    ViewBag.Title = "Pagina de Inicio";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Sistema de Administración</h1>
    </section>
    <br />
    <br />
    <br />
    <div class="row">
        
            <h2 id="gettingStartedTitle">Revisa las opciones del menú superior en base a lo que deseas realizar.</h2>
           
    </div>
</main>